$colorPrimary-100: hsl(7, 99%, 70%);
$colorPrimary-200: hsl(51, 100%, 49%);
$colorPrimary-300: hsl(167, 40%, 24%);
$colorPrimary-400: hsl(198, 62%, 26%);
$colorPrimary-500: hsl(168, 34%, 41%);

$colorNeutral-100: hsl(212, 27%, 19%);
$colorNeutral-200: hsl(213, 9%, 39%);
$colorNeutral-300: hsl(232, 10%, 55%);
$colorNeutral-400: hsl(210, 4%, 67%);
$colorNeutral-500: hsl(0, 0%, 100%);